html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	list-style: none;
	text-align: center;
}

li {
	display: inline-block;
}

.title {
	color: #202020;
	margin: 0;
	margin-bottom: 30px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-align: center;
}

.prxlv {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	text-align: center;
	color: #202020;
	font-size: 13px;
}

.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 420px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: auto; 
}

.icon {
	width: 27px;
	height: 25px;
	background: url(../img/icons.png) no-repeat;
}
.telegram .icon {
	background-position: 0 0px;
	margin-right: 8px;
	padding: 0;
}

.vk .icon {
	background-position: 0 -25px;
	margin-right: 8px;
	padding: 0;
}

.switch {
	width: 70px;
	height: 38px;
	background: url(../img/switches.png) no-repeat;
}

.switchw {
	width: 70px;
	height: 38px;
	background: url(../img/switches.png) no-repeat;
	background-position: 0 -38px;
}

.bg {
	 background: #202020;
}

.bg1 {
	background: #fff;
}

.pp1 {
	float: right;
	margin-top: 70px;
	margin-right: 70px;
}